{% extends 'base.html' %}


{% block content %}
<div class="row">
	<div class="col-12">
		<h2>UnicornAttractor</h2>
	</div>
</div>
<div class="row">
	<div class="col-12">
		<img class="image-wrapper float-left pr-3 unicorn-img" src="{{ MEDIA_URL }}images/unicorn.jpg" />
		UnicornAttractor is a completely made up application that I haven't got the inclination to make up a big long paragraph about, so I'm going to Lorem Ipsum a few in...<br>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pharetra ultricies condimentum. Duis dignissim et nibh eget cursus. Maecenas varius sit amet ante ut pharetra. Donec rutrum lobortis magna, sed congue turpis vehicula sed. Etiam ultricies aliquet augue, a consequat leo euismod a. Vestibulum vitae lacus tincidunt sapien tincidunt dapibus sed ac orci. Curabitur in turpis dictum, consequat dolor non, blandit erat. Mauris ac velit a nunc condimentum hendrerit tristique quis urna. Mauris tempor id ligula sit amet euismod. Suspendisse volutpat orci ut erat ullamcorper ultricies. Quisque faucibus gravida lacus eget mattis. Etiam ut iaculis diam. Vestibulum et est a eros aliquet aliquet nec eu mauris.<br>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pharetra ultricies condimentum. Duis dignissim et nibh eget cursus. Maecenas varius sit amet ante ut pharetra. Donec rutrum lobortis magna, sed congue turpis vehicula sed. Etiam ultricies aliquet augue, a consequat leo euismod a. Vestibulum vitae lacus tincidunt sapien tincidunt dapibus sed ac orci. Curabitur in turpis dictum, consequat dolor non, blandit erat. Mauris ac velit a nunc condimentum hendrerit tristique quis urna. Mauris tempor id ligula sit amet euismod. Suspendisse volutpat orci ut erat ullamcorper ultricies. Quisque faucibus gravida lacus eget mattis. Etiam ut iaculis diam. Vestibulum et est a eros aliquet aliquet nec eu mauris.</br>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pharetra ultricies condimentum. Duis dignissim et nibh eget cursus. Maecenas varius sit amet ante ut pharetra. Donec rutrum lobortis magna, sed congue turpis vehicula sed. Etiam ultricies aliquet augue, a consequat leo euismod a. Vestibulum vitae lacus tincidunt sapien tincidunt dapibus sed ac orci. Curabitur in turpis dictum, consequat dolor non, blandit erat. Mauris ac velit a nunc condimentum hendrerit tristique quis urna. Mauris tempor id ligula sit amet euismod. Suspendisse volutpat orci ut erat ullamcorper ultricies. Quisque faucibus gravida lacus eget mattis. Etiam ut iaculis diam. Vestibulum et est a eros aliquet aliquet nec eu mauris.<br>

	</div>
</div>
<div class="row">
	<div class="col-12 mt-4">
		<h4>Testimonials</h4>
	</div>
	<div class="col-12">
		<div class="card">
  			<div class="card-header">
  			</div>
			 <div class="card-body">
			    <blockquote class="blockquote mb-0">
			      	<p>It will change your life!</p>
			      	<footer class="blockquote-footer">Johnny Johnson in <cite title="Source Title">Dapper Developer</cite></footer>
			    </blockquote>
			 </div>
		</div>
	</div>
	<div class="col-12 mt-2">
		<div class="card">
  			<div class="card-header">
  			</div>
			 <div class="card-body">
			    <blockquote class="blockquote mb-0">
			      	<p>You'll never look at unicorns the same way again.</p>
			      	<footer class="blockquote-footer">Rita French in <cite title="Source Title">Unicorns Weekly</cite></footer>
			    </blockquote>
			 </div>
		</div>
	</div>
	<div class="col-12 mt-2">
		<div class="card">
  			<div class="card-header">
  			</div>
			 <div class="card-body">
			    <blockquote class="blockquote mb-0">
			      	<p>I've never been so amazed! <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
			      	<footer class="blockquote-footer">Jeff Morgan in <cite title="Source Title">MadeUp Gaming</cite></footer>
			    </blockquote>
			 </div>
		</div>
	</div>
	<div class="col-12 mt-2">
		<div class="card">
  			<div class="card-header">
  			</div>
			 <div class="card-body">
			    <blockquote class="blockquote mb-0">
			      	<p>I'll never go back to regular horses!</p>
			      	<footer class="blockquote-footer">Webdev1967 <cite title="Source Title">via Twitter</cite></footer>
			    </blockquote>
			 </div>
		</div>
	</div>
</div>



{% endblock content %}