{% extends 'base.html' %}

{% block content %}
<div class="row">
	<div class="col-12 mt-2 d-flex justify-content-center">
		<h2>Help</h2>
	</div>
	<div class="col-12">
		<div class="grey-card mt-2">
			<p><strong>Raising Bugs:</strong> Information about how to raise bugs</p>
		</div>
		<div class="grey-card mt-2">
			<p><strong>Suggesting Features:</strong> Information about how to suggest a new feature</p>
		</div>
		<div class="grey-card mt-2">
			<p><strong>Voting:</strong> Information about how to vote</p>
		</div>
		<div class="grey-card mt-2">
			<p><strong>Something else:</strong> A space filler</p>
		</div>
	</div>
</div>
{% endblock %}