{% extends 'base.html' %}

{% block content %}
<div class="row">
	<div class="col-12 mt-2 d-flex justify-content-center">
		<h2>Help</h2>
	</div>
	<div class="col-12">
		<div class="grey-card mt-2">
			<p><strong>How We Work</strong></p>
			<p>This issue tracker is designed for two purposes: for customers to raise any issues they encounter whilst using the UnicornAttractor application, and to suggest new features that they think of.</p>
			<p>Any bugs will be fixed for <strong>free</strong>, as we want rid of them as much as our users do!</p>
			<p>Any new features suggested will be left to the users to vote for: once a new feature is proving popular with users we will quote how much it will cost to implement. It will then be open to contribute to. Users can contribute as much or as little (well, as little as £5!) as they like. Once the target has been reached, our developers will then spend at least 50% of our time creating the new feature.</p>
		</div>
		<div class="grey-card mt-2">
			<p><strong>Why register?</strong></p>
			<p>Register in order to raise bugs, suggest new features, vote on existing bug and feature tickets and contribute towards new features!</p>
		</div>
		<div class="grey-card mt-2">
			<p><strong>Raising Bugs</strong></p>
			<p>Firstly, what is a bug? A bug is an error or occurrence that doesn't give you the result you expected. If you are experiencing an issue in the application, please log a ticket <a href="{% url 'new_bug' %}"><u>here</u></a> and we will deal with it as soon as possible.</p>
		</div>
		<div class="grey-card mt-2">
			<p><strong>Suggesting Features</strong></p>
			<p>If you have any ideas about how we can make the UnicornAttractor app an even better experience, please let us know <a href="{% url 'new_feature' %}"><u>here</u></a>.</p>
		</div>
		<div class="grey-card mt-2">
			<p><strong>Voting</strong></p>
			<p>When voting for bugs or new features, vote positively (<i class="far fa-thumbs-up"></i>) for a bug that you are also experiencing, and for a feature that you would like to see implemented. Vote negatively (<i class="far fa-thumbs-down"></i>) for a bug that you do not experience when following the same steps, or for a feature that you don't think is needed.</p>
			<p>Make your vote count, you only get one!</p>
		</div>
	</div>
</div>
{% endblock %}