{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<h1>{{ bug.title }}</h1>
<div class="row">
	<div class="col-xs-12 col-md-8">
		<p>{{ bug.description }}</p>
		<h5>Comments:</h5>
		<div>
			<form method="POST">{% csrf_token %}
				{{ comment_form|crispy }}
			<input type="submit" value="Post" class="btn btn-outline-dark">
			</form>
		</div>
		<div class="comments">
		{% for comment in comments %}
		<div>{{ comment.content }}</div>
		</div>
{% endfor %}
	</div>
	<div class="col-xs-12 col-md-4">
		<p style="text-decoration: underline;">Screenshots</p>
		<div class="screenshot" style="background-image: url('{{ MEDIA_URL }}{{ bug.screenshot }}')"></div>
	</div>
</div>


{% endblock %}