{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<h1>{{ bug.title }}</h1>

<div class="row">
	<div class="col-12 col-md-8">

		<p>{{ bug.description }}</p>
		<h5>Add a comment:</h5>
		<form method="POST">{% csrf_token %}
			{{ comment_form|crispy }}
			<input type="submit" value="Post" class="btn btn-outline-dark">
		</form>
		<div class="comments">
			<h6>Previous comments:</h6>
		{% for comment in comments %}
		<div class="row card mt-1">
			<div class="col-12 mt-1">
				<img class="profile-pic rounded-circle" src="{{ comment.user.profile.image.url }}"/>
				<span>
					<strong>{{ comment.user.profile.first_name }} {{ comment.user.profile.last_name }}</strong> 
					<small>on {{ comment.timestamp.date }} at {{ comment.timestamp.time }}</small>
				</span>
			</div>
			<div class="col-12">
				<p>{{ comment.content }}</p>
			</div>
		</div>
		
		{% endfor %}
		<ul class="pagination">
          {% if comments.has_previous %}
          <li class="page-item">
            <a class='page-link' href="?page=1">&laquo; First</a>
          </li>
          <li class="page-item">
            <a class='page-link' href="?page={{ comments.previous_page_number }}">Previous</a>
          </li>
          {% endif %}
          <small class="mr-2 ml-2">
              Page {{ comments.number }} of {{ comments.paginator.num_pages }}
          </small>
          {% if comments.has_next %}
          <li class="page-item">
            <a class='page-link' href="?page={{ comments.next_page_number }}">Next</a>
          </li>
          <li class="page-item">
            <a class='page-link' href="?page={{ comments.paginator.num_pages }}">Last &raquo;</a>
          </li>
          {% endif %}
        </ul>
		</div>

	</div>
	<div class="col-12 col-md-4">
		{% if user.is_staff %}
		<div class="update_ticket">
			<p>Customer: {{ bug.customer.profile }}</p>
			<form method="POST">
				{% csrf_token %}
				{{ update_form|crispy }}
				<button type="submit" value="update" class="btn btn-success btn-sm">Update</button>
			</form>
		</div>
		{% else %}
		<p>Customer: {{ bug.customer.profile }}</p>
		<p>Status: {{ bug.status }}</p>
		<p>Assigned to: {{ bug.assigned }}</p>
		<p>Priority: {{ bug.priority }}</p>
		{% endif %}
		<p style="text-decoration: underline;">Screenshots</p>
		<div class="screenshot" style="background-image: url('{{ MEDIA_URL }}{{ bug.screenshot }}')"></div>

	</div>
</div>


{% endblock %}