{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<h1>{{ feature.title }}</h1>
<div class="row">
	<div class="col-xs-12 col-md-8">
		<p>{{ feature.description }}</p>
		<h5>Comments:</h5>
		<div>
			<form method="POST">{% csrf_token %}
				{{ comment_form|crispy }}
			<input type="submit" value="Post" class="btn btn-outline-dark">
			</form>
		</div>
		<div class="comments">
		{% for comment in comments %}
			<div>{{ comment.content }}</div>
		{% endfor %}
		</div>
	</div>
	<div class="col-12 col-md-4">
		{% if user.is_staff %}
			<div class="update_ticket">
				<p>Customer: {{ feature.customer.profile }}</p>
				<form method="POST">
					{% csrf_token %}
					{{ update_form|crispy }}
					<button type="submit" value="update" class="btn btn-success btn-sm">Update</button>
				</form>
			</div>
		{% else %}
			<p>Customer: {{ feature.customer.profile }}</p>
			<p>Status: {{ feature.status }}</p>
			<p>Assigned to: {{ feature.assigned }}</p>
			<p>Quoted: {% if feature.quoted %}Yes{% else %} Awaiting Quote {% endif %}</p>
			{% if feature.quoted %}
				<p>Cost: £{{ feature.cost }}</p>
			{% endif %}
		{% endif %}
		<p style="text-decoration: underline;">Screenshots</p>
		<div class="screenshot" style="background-image: url('{{ MEDIA_URL }}{{ bug.screenshot }}')"></div>

	</div>
</div>


{% endblock %}