{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}


<div class="row mb-4">
	<div class="col-12 d-flex justify-content-center">
		<h2>{{ profile.user.first_name|capfirst }} {{ profile.user.last_name|capfirst }}</h2>

	</div>
	<div class="col-12 col-md-8">
		<div class="col-9">
			<img class="rounded-circle profile-pic-large" src="{{ profile.image.url }}"/>
      {% if profile.user.is_staff %}
        <small>UnicornAttractor Developer!</small>
      {% else %}
        <small>UnicornAttractor User!</small>
      {% endif %}
		</div>
	</div>
</div>

<div class="row">
  <div class="col-12">
    {% if profile.user.is_staff %}
    <p>Total time spent working: {{ total_days }} days {{ total_hours }} hours {{ total_mins }} mins</p>
    <p>Time spent on bugs: {{ bug_days }} days {{ bug_hours }} hours {{ bug_mins }} mins</p>
    <p>Time spent on features: {{ feature_days }} days {{ feature_hours }} hours {{ feature_mins }} mins</p>
    {% else %}
    <p>Total contributions: £{{ profile.total_contributed }}</p>
    {% endif %}
  </div>
</div>

{% endblock %}
