{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <a href="{% url 'new_bug' %}"><button class="btn btn-secondary">New Bug</button></a>
        <a href="{% url 'new_feature' %}"><button class="btn btn-primary">New Feature</button></a>
    </div>
	<div class="row">
        <div class="col s12 results z-depth-2" id="results">
            <div class="row">
                {% for bug in bug_tickets %}
                <div class="col s12 m6 l3">
                    <div class="card" id="{{ bug.id }}">
                        <div class="card-content">
                            <p>{{ bug.title }}</p>
                            <p><a href="{{ bug.get_absolute_url }}">Go</a></p>
                        </div>
                        <div>

                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


{% endblock %}