{% extends 'base.html' %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}

{% block js %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
    //<![CDATA[
        Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock %}

{% block content %}
<form role='form' method='POST' id='payment-form' action="{% url 'checkout' feature.id %}">
	{% csrf_token %}
	<div id="credit-card-errors" style="display:none">
        <div class="alert-message block-message error" id="stripe-error-message"></div>
    </div>
    <div class="d-flex justify-content-center">
    <h3>Please donate any amount from <span class="text-primary">£5.00</span> to <span class="text-primary">£{{ max_amount }}</span></h3>
	</div>
	<div>
	<div id="div_id_donation" class="form-group"> 
		<label for="id_donation" class="col-form-label  requiredField">
        	Donation<span class="asteriskField">*</span> 
        </label> 
	    <div class=""> 
	    	<input type="number" name="donation" min="5.00" max="{{ max_amount }}" step="any" class="numberinput form-control" required id="id_donation"> 
	    </div> 
	</div>
	{{ order_form|crispy }}
	{{ payment_form|crispy }}
	</div>
	<input class="btn btn-primary" id="submit_payment_btn" name="commit" type="submit" value="Submit Payment"></input>
</form>

{% endblock %}

