{% extends 'base.html' %}
{% block content %}


<div class="row mb-4">
	<div class="col-12 d-flex justify-content-center">
		<h2>{{ profile.user.first_name|capfirst }}'s IssueTracker</h2>
	</div>
</div>

  <!-- Tabs -->


<div>
  <ul class="nav nav-tabs" id="resultsTabs" role="tablist">
    <li class="nav-item">
      <a class="nav-tabs-item nav-link show active" id="featuresTab" data-toggle="tab" href="#feature-results" role="tab" aria-selected="true">Features</a>
    </li>
    <li class="nav-item">
      <a class="nav-tabs-item nav-link" id="bugsTab"  data-toggle="tab" href="#bug-results" role="tab" aria-selected="false">Bugs</a>
    </li>
  </ul>
</div>

<!--Tab Content-->
<div class="tab-content">

  <!-- New Features -->
  <div id="feature-results" class="tab-pane fade show active" role="tabpanel" aria-labelledby="featuresTab">
    <div class="d-flex justify-content-center">
      <h3>Suggested Features</h3>
    </div>
    <div class="d-flex justify-content-center pb-1">
      {% if user.is_staff %}
      <small>New features assigned to you</small>
      {% else %}
      <small>New features suggested by you</small>
      {% endif %}
    </div>
    <div class="col-10 offset-1 filter-select-container">
      <form class="form-inline">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="feature_filter" id="all_open_features" value="all_open_tickets" {% if request.GET.feature_filter == 'all_open_tickets' or request.GET.feature_filter == None %}checked{% endif %}>
          <label class="form-check-label" for="all_open_features">All Open Tickets</label>
        </div>
        {% for status in feature_status %}
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="feature_filter" id="feature_status{{ forloop.counter }}" value="{{ status.0 }}" {% if request.GET.feature_filter == status.0 %}checked{% endif %}>
            <label class="form-check-label" for="feature_status{{ forloop.counter }}">{{ status.0 }}</label>
          </div>
        {% endfor %}
        <button class="btn btn-outline-dark my-2 my-sm-0" type="submit"><i class="fas fa-filter"></i></button>
      </form>
    </div>
    <div>
      {% if not new_features %}
      <div class="d-flex justify-content-center">
        <p>No features to show.</p>
      </div>
      {% else %}

        <!-- Pagination -->
        <ul class="pagination d-flex justify-content-end">
          {% if new_features.has_previous %}
          <li class="page-item">
            <a class='page-link' href="?page=1&query={{ request.GET.query }}">&laquo; First</a>
          </li>
          <li class="page-item">
            <a class='page-link' href="?page={{ new_features.previous_page_number }}&query={{ request.GET.query }}">Previous</a>
          </li>
          {% endif %}
          <li class="mr-2 ml-2 small">
              Page {{ new_features.number }} of {{ new_features.paginator.num_pages }}
          </li>
          {% if new_features.has_next %}
          <li class="page-item">
            <a class='page-link' href="?page={{ new_features.next_page_number }}&query={{ request.GET.query }}">Next</a>
          </li>
          <li class="page-item">
            <a class='page-link' href="?page={{ new_features.paginator.num_pages }}&query={{ request.GET.query }}">Last &raquo;</a>
          </li>
          {% endif %}
        </ul>
      <!-- End Pagination -->

        <table class="table table-hover table-sm table-striped">
          <thead>
            <tr>
              <th scope="col">
                <a  href="?order={% if request.GET.order == 'id' %}-{% endif%}id&feature_filter={% if feature_filter %}{{ request.GET.feature_filter }}{% else %}all_open_tickets{% endif %}">#</a>
              </th>
              {% if user.is_staff %}
              <th class="d-none d-sm-block" scope="col">
                <a href="?order={% if request.GET.order == 'customer' %}-{% endif%}customer&feature_filter={% if feature_filter %}{{ request.GET.feature_filter }}{% else %}all_open_tickets{% endif %}">Customer</a>
              </th>
              {% endif %}
              <th scope="col">
                <a href="?order={% if request.GET.order == 'title' %}-{% endif%}title&feature_filter={% if feature_filter %}{{ request.GET.feature_filter }}{% else %}all_open_tickets{% endif %}">Title</a>
              </th>
              <th scope="col" class="d-none d-sm-block">
                <a href="?order={% if request.GET.order == 'last_update' %}-{% endif%}last_update&feature_filter={% if feature_filter %}{{ request.GET.feature_filter }}{% else %}all_open_tickets{% endif %}">Last Updated</a>
              </th>
              <th scope="col">
                <a href="?order={% if request.GET.order == 'status' %}-{% endif%}status&feature_filter={% if feature_filter %}{{ request.GET.feature_filter }}{% else %}all_open_tickets{% endif %}">Status</a>
              </th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            {% for feature in new_features %}
              <tr>
                <th scope="row">{{ feature.id }}</th>
                {% if user.is_staff %}
                <td class="d-none d-sm-block">{{ feature.customer.first_name }} {{ feature.customer.last_name }}</td>
                {% endif %}
                <td><small>{{ feature.title }}</small></td> 
                <td class="d-none d-sm-block">{{ feature.last_update }}</td>
                <td>{{ feature.status }}</td>
                <td><a href="{{ feature.get_absolute_url }}" class="btn btn-primary">Open</a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      

      <!-- Pagination -->
      <ul class="pagination d-flex justify-content-end">
          {% if new_features.has_previous %}
          <li class="page-item">
            <a class='page-link' href="?page=1&query={{ request.GET.query }}">&laquo; First</a>
          </li>
          <li class="page-item">
            <a class='page-link' href="?page={{ new_features.previous_page_number }}&query={{ request.GET.query }}">Previous</a>
          </li>
          {% endif %}
          <li class="mr-2 ml-2 small">
              Page {{ new_features.number }} of {{ new_features.paginator.num_pages }}
          </li>
          {% if new_features.has_next %}
          <li class="page-item">
            <a class='page-link' href="?page={{ new_features.next_page_number }}&query={{ request.GET.query }}">Next</a>
          </li>
          <li class="page-item">
            <a class='page-link' href="?page={{ new_features.paginator.num_pages }}&query={{ request.GET.query }}">Last &raquo;</a>
          </li>
          {% endif %}
      </ul>
     <!-- End Pagination -->
     {% endif %}
    </div>
  </div>

  <!--Bugs-->
  <div id="bug-results" class="tab-pane fade" role="tabpanel" aria-labelledby="bugsTab">
    <div class="d-flex justify-content-center">
      <h3>Bugs</h3>
    </div>
    <div class="d-flex justify-content-center pb-1">
      {% if user.is_staff %}
      <small>Bugs assigned to you</small>
      {% else %}
      <small>Bugs raised by you</small>
      {% endif %}
    </div>
    {% if not request.GET.query %}
    <div class="col-10 offset-1 filter-select-container">
      <form class="form-inline">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="bug_filter" id="all_open_bugs" value="all_open_tickets" {% if request.GET.bug_filter == 'all_open_tickets' or request.GET.bug_filter == None %}checked{% endif %}>
          <label class="form-check-label" for="all_open_bugs">All Open Tickets</label>
        </div>
        {% for status in bug_status %}
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="bug_filter" id="bug_status_{{ forloop.counter }}" value="{{ status.0 }}" {% if request.GET.bug_filter == status.0 %}checked{% endif %}>
          <label class="form-check-label" for="bug_status_{{ forloop.counter }}">{{ status.0 }}</label>
        </div>
        {% endfor %}
      <button class="btn btn-outline-dark my-2 my-sm-0" type="submit"><i class="fas fa-filter"></i></button>
      </form>
    </div>
    {% endif %}

    <div>
      {% if not bug_tickets %}
        <p>No bugs to show.</p>
      {% else %}
      <!--Pagination-->
        <ul class="pagination d-flex justify-content-end">
          {% if bug_tickets.has_previous %}
          <li class="page-item">
            <a class='page-link' href="?page=1&query={{ request.GET.query }}">&laquo; First</a>
          </li>
          <li class="page-item">
            <a class='page-link' href="?page={{ bug_tickets.previous_page_number }}&query={{ request.GET.query }}">Previous</a>
          </li>
          {% endif %}
          <li class="mr-2 ml-2 small">
              Page {{ bug_tickets.number }} of {{ bug_tickets.paginator.num_pages }}
          </li>
          {% if bug_tickets.has_next %}
          <li class="page-item">
            <a class='page-link' href="?page={{ bug_tickets.next_page_number }}&query={{ request.GET.query }}">Next</a>
          </li>
          <li class="page-item">
            <a class='page-link' href="?page={{ bug_tickets.paginator.num_pages }}&query={{ request.GET.query }}">Last &raquo;</a>
          </li>
          {% endif %}
        </ul>
        <!--End pagination-->
          <table class="table table-hover table-sm table-striped">
            <thead>
            <tr>
              <th scope="col">
                <a  href="?order={% if request.GET.order == 'id' %}-{% endif%}id&bug_filter={% if bug_filter %}{{ request.GET.bug_filter }}{% else %}all_open_tickets{% endif %}">#</a>
              </th>
              <th scope="col">
                <a href="?order={% if request.GET.order == 'title' %}-{% endif%}title&bug_filter={% if bug_filter %}{{ request.GET.bug_filter }}{% else %}all_open_tickets{% endif %}">Title</a>
              </th>
              <th class="d-none d-sm-block" scope="col">
                <a href="?order={% if request.GET.order == 'last_update' %}-{% endif%}last_update&bug_filter={% if bug_filter %}{{ request.GET.bug_filter }}{% else %}all_open_tickets{% endif %}">Last Updated</a>
              </th>
              <th scope="col">
                <a href="?order={% if request.GET.order == 'priority' %}-{% endif%}priority&bug_filter={% if bug_filter %}{{ request.GET.bug_filter }}{% else %}all_open_tickets{% endif %}">Priority</a>
              </th>
              <th class="d-none d-sm-block" scope="col">
                <a href="?order={% if request.GET.order == 'status' %}-{% endif%}status&bug_filter={% if bug_filter %}{{ request.GET.bug_filter }}{% else %}all_open_tickets{% endif %}">Status</a>
              </th>
              <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
              {% for bug in bug_tickets %}
                <tr>
                  <th scope="row">{{ bug.id }}</th>
                  <td><small>{{ bug.title }}</small></td>
                  <td class="d-none d-sm-block">{{ bug.last_update }}</td>
                  <td {% if bug.priority == 'Critical' %} class="text-danger"{% elif bug.priority == 'High' %} class="text-warning"{% endif %}>{{ bug.priority }}</td>
                  <td class="d-none d-sm-block">{{ bug.status }}</td>
                  <td><a href="{{ bug.get_absolute_url }}" class="btn btn-primary">Open</a></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        <!--Pagination-->
        <ul class="pagination d-flex justify-content-end">
        {% if bug_tickets.has_previous %}
        <li class="page-item">
          <a class='page-link' href="?page=1&query={{ request.GET.query }}">&laquo; First</a>
        </li>
        <li class="page-item">
          <a class='page-link' href="?page={{ bug_tickets.previous_page_number }}&query={{ request.GET.query }}">Previous</a>
        </li>
        {% endif %}
        <li class="mr-2 ml-2 small">
            Page {{ bug_tickets.number }} of {{ bug_tickets.paginator.num_pages }}
        </li>
        {% if bug_tickets.has_next %}
        <li class="page-item">
          <a class='page-link' href="?page={{ bug_tickets.next_page_number }}&query={{ request.GET.query }}">Next</a>
        </li>
        <li class="page-item">
          <a class='page-link' href="?page={{ bug_tickets.paginator.num_pages }}&query={{ request.GET.query }}">Last &raquo;</a>
        </li>
        {% endif %}
        </ul>
      <!--End pagination-->
      {% endif %}
    </div>
  </div>
</div>

  <!--End Tab Content-->

{% endblock %}










