{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="row full-height">
	<div class="col-12 col-sm-10 offset-sm-1 col-md-6 offset-md-3 d-flex justify-content-center align-items-center">
		<div class="login-box">
			<form method="POST">
			{% csrf_token %}
			{{ form|crispy }}
			<button type="submit" class="btn btn-primary">Login</button>
			<a href="{% url 'register' %}">Sign up</a> | <a href="{% url 'reset_password' %}">Forgot Password?</a>
			</form>
		</div>
	</div>
</div>


{% endblock %}