{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}


<div class="row mb-4">
	<div class="col-12 d-flex justify-content-center">
		<h2>{{ user.first_name|capfirst }}'s IssueTracker</h2>
	</div>
	<div class="col-12 col-md-8">
		<div class="col-9">
			<img class="rounded-circle profile-pic-large" src="{{ user.profile.image.url }}"/>
		</div>
	</div>
	<div class="col-12 col-md-4 mt-2">
		<a href="{% url 'reset_password' %}"class="btn btn-secondary btn-sm mb-2">Change Password</a>
		<button data-toggle="modal" data-target="#profileImgModal" class="btn btn-success btn-sm">Change Profile Picture</button>
	</div>

</div>

<!-- If user is a developer they will see bugs assigned to them here -->
<!-- Or if user is a customer they will see bugs raised by them here -->
<div role="tablist">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" id="featuresTab" data-toggle="tab" href="#feature-results" role="tab" aria-selected="true">My Features</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="bugsTab"  data-toggle="tab" href="#bug-results" role="tab" aria-selected="false">My Bugs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="fixedBugsTab"  data-toggle="tab" href="#fixed-bugs" role="tab" aria-selected="false">My Fixed Bugs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="completedFeaturesTab" data-toggle="tab" href="#completed-features" role="tab" aria-selected="false">My Completed Features</a>
    </li>
  </ul>
</div>
<!--Tab Content-->
  <div class="tab-content">

    <!-- New Features -->
    <div id="feature-results" class="tab-pane fade show active" role="tabpanel" aria-labelledby="features-tab">
      <h3>Suggested Features</h3>
      {% if user.is_staff %}
      <small>New features assigned to you</small>
      {% else %}
      <small>New features suggested by you</small>
      {% endif %}
      <div>
        {% if not new_features %}
        <p>No features to show.</p>
        {% else %}

          <!-- Pagination -->
          <ul class="pagination d-flex justify-content-end">
            {% if new_features.has_previous %}
            <li class="page-item">
              <a class='page-link' href="?page=1">&laquo; First</a>
            </li>
            <li class="page-item">
              <a class='page-link' href="?page={{ new_features.previous_page_number }}">Previous</a>
            </li>
            {% endif %}
            <small class="mr-2 ml-2">
                Page {{ new_features.number }} of {{ new_features.paginator.num_pages }}
            </small>
            {% if new_features.has_next %}
            <li class="page-item">
              <a class='page-link' href="?page={{ new_features.next_page_number }}">Next</a>
            </li>
            <li class="page-item">
              <a class='page-link' href="?page={{ new_features.paginator.num_pages }}">Last &raquo;</a>
            </li>
            {% endif %}
          </ul>
        <!-- End Pagination -->

          <table class="table table-hover table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                {% if user.is_staff %}
                <th scope="col">Customer</th>
                {% endif %}
                <th scope="col">Title</th>
                <th scope="col">Last Comment</th>
                <th scope="col">Status</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              {% for feature in new_features %}
                <tr>
                  <th scope="row">{{ feature.id }}</th>
                  {% if user.is_staff %}
                  <td>{{ feature.customer.first_name }} {{ feature.customer.last_name }}</td>
                  {% endif %}
                  <td><small>{{ feature.title }}</small></td> 
                  <td>{{ feature.get_last_comment }}</td>
                  <td>{{ feature.status }}</td>
                  <td><a href="{{ feature.get_absolute_url }}" class="btn btn-primary">Open</a></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        

        <!-- Pagination -->
        <ul class="pagination d-flex justify-content-end">
            {% if new_features.has_previous %}
            <li class="page-item">
              <a class='page-link' href="?page=1">&laquo; First</a>
            </li>
            <li class="page-item">
              <a class='page-link' href="?page={{ new_features.previous_page_number }}">Previous</a>
            </li>
            {% endif %}
            <small class="mr-2 ml-2">
                Page {{ new_features.number }} of {{ new_features.paginator.num_pages }}
            </small>
            {% if new_features.has_next %}
            <li class="page-item">
              <a class='page-link' href="?page={{ new_features.next_page_number }}">Next</a>
            </li>
            <li class="page-item">
              <a class='page-link' href="?page={{ new_features.paginator.num_pages }}">Last &raquo;</a>
            </li>
            {% endif %}
        </ul>
       <!-- End Pagination -->
      {% endif %}
    </div>
    </div>

    <!--Open Bugs-->
    <div id="bug-results" class="tab-pane fade" role="tabpanel" aria-labelledby="bug-tab">
      <h3>Bugs</h3>
      {% if user.is_staff %}
      <small>Bugs assigned to you</small>
      {% else %}
      <small>Bugs suggested by you</small>
      {% endif %}
      <small class="text-danger">*Critical Priority</small>
      <small class="text-warning">*High Priority</small>


      <div>
        {% if not bug_tickets %}
          <p>No bugs to show.</p>
        {% else %}
        <!--Pagination-->
          <ul class="pagination d-flex justify-content-end">
            {% if bug_tickets.has_previous %}
            <li class="page-item">
              <a class='page-link' href="?page=1">&laquo; First</a>
            </li>
            <li class="page-item">
              <a class='page-link' href="?page={{ bug_tickets.previous_page_number }}">Previous</a>
            </li>
            {% endif %}
            <small class="mr-2 ml-2">
                Page {{ bug_tickets.number }} of {{ bug_tickets.paginator.num_pages }}
            </small>
            {% if bug_tickets.has_next %}
            <li class="page-item">
              <a class='page-link' href="?page={{ bug_tickets.next_page_number }}">Next</a>
            </li>
            <li class="page-item">
              <a class='page-link' href="?page={{ bug_tickets.paginator.num_pages }}">Last &raquo;</a>
            </li>
            {% endif %}
          </ul>
          <!--End pagination-->
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  {% if user.is_staff %}
                  <th scope="col">Customer</th>
                  {% endif %}
                  <th scope="col">Title</th>
                  <th scope="col">Last Comment</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                {% for bug in bug_tickets %}
                  {% if bug.priority == 'Critical' %}
                  <tr class="text-danger">
                  {% elif bug.priority == 'High' %}
                  <tr class="text-warning">
                  {% else %}
                  <tr>
                    {% endif %}
                    <th scope="row">{{ bug.id }}</th>
                    {% if user.is_staff %}
                    <td>{{ bug.customer.first_name }} {{ bug.customer.last_name }}</td>
                    {% endif %}
                    <td><small>{{ bug.title }}</small></td>
                    <td>{{ bug.get_last_comment }}</td>
                    <td><a href="{{ bug.get_absolute_url }}" class="btn btn-primary">Open</a></td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          <!--Pagination-->
          <ul class="pagination d-flex justify-content-end">
          {% if bug_tickets.has_previous %}
          <li class="page-item">
            <a class='page-link' href="?page=1">&laquo; First</a>
          </li>
          <li class="page-item">
            <a class='page-link' href="?page={{ bug_tickets.previous_page_number }}">Previous</a>
          </li>
          {% endif %}
          <small class="mr-2 ml-2">
              Page {{ bug_tickets.number }} of {{ bug_tickets.paginator.num_pages }}
          </small>
          {% if bug_tickets.has_next %}
          <li class="page-item">
            <a class='page-link' href="?page={{ bug_tickets.next_page_number }}">Next</a>
          </li>
          <li class="page-item">
            <a class='page-link' href="?page={{ bug_tickets.paginator.num_pages }}">Last &raquo;</a>
          </li>
          {% endif %}
          </ul>
        <!--End pagination-->
        {% endif %}
      </div>
    </div>

    <!--Resolved Bugs-->
    <div id="fixed-bugs" class="tab-pane fade" role="tabpanel" aria-labelledby="fixed-bugs-tab">
      <h3>Fixed Bugs</h3>
      {% if user.is_staff %}
      <small>Bugs that have been <strike>squashed</strike> fixed by you</small>
      {% else %}
      <small>Bugs that have been <strike>squashed</strike> fixed</small>
      {% endif %}
      

      <div>
        {% if not fixed_bugs %}
          <p>No bugs to show.</p>
        {% else %}

        <!--Pagination-->
        <ul class="pagination d-flex justify-content-end">
          {% if fixed_bugs.has_previous %}
          <li class="page-item">
            <a class='page-link' href="?page=1">&laquo; First</a>
          </li>
          <li class="page-item">
            <a class='page-link' href="?page={{ fixed_bugs.previous_page_number }}">Previous</a>
          </li>
          {% endif %}
          <small class="mr-2 ml-2">
              Page {{ fixed_bugs.number }} of {{ fixed_bugs.paginator.num_pages }}
          </small>
          {% if fixed_bugs.has_next %}
          <li class="page-item">
            <a class='page-link' href="?page={{ fixed_bugs.next_page_number }}">Next</a>
          </li>
          <li class="page-item">
            <a class='page-link' href="?page={{ fixed_bugs.paginator.num_pages }}">Last &raquo;</a>
          </li>
          {% endif %}
        </ul>
        <!--End pagination-->

          <table class="table table-hover table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                {% if user.is_staff %}
                <th scope="col">Customer</th>
                {% endif %}
                <th scope="col">Title</th>
                <th scope="col">Last Comment</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              {% for fb in fixed_bugs %}
                <tr>
                  <th scope="row">{{ fb.id }}</th>
                  {% if user.is_staff %}
                  <td>{{ fb.customer.first_name }} {{ fb.customer.last_name }}</td>
                  {% endif %}
                  <td><small>{{ fb.title }}</small></td>
                  <td>{{ fb.get_last_comment }}</td>
                  <td><a href="{{ fb.get_absolute_url }}" class="btn btn-primary">Open</a></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>

        <!--Pagination-->
        <ul class="pagination d-flex justify-content-end">
          {% if fixed_bugs.has_previous %}
          <li class="page-item">
            <a class='page-link' href="?page=1">&laquo; First</a>
          </li>
          <li class="page-item">
            <a class='page-link' href="?page={{ fixed_bugs.previous_page_number }}">Previous</a>
          </li>
          {% endif %}
          <small class="mr-2 ml-2">
              Page {{ fixed_bugs.number }} of {{ fixed_bugs.paginator.num_pages }}
          </small>
          {% if fixed_bugs.has_next %}
          <li class="page-item">
            <a class='page-link' href="?page={{ fixed_bugs.next_page_number }}">Next</a>
          </li>
          <li class="page-item">
            <a class='page-link' href="?page={{ fixed_bugs.paginator.num_pages }}">Last &raquo;</a>
          </li>
          {% endif %}
        </ul>
        <!--End pagination-->

        {% endif %}
      </div>
    </div>

    <!--Completed Features-->
    <div id="completed-features" class="tab-pane fade" role="tabpanel" aria-labelledby="completed-features-tab">
      <h3>Completed Features</h3>
      {% if user.is_staff %}
      <small>Features you have implemented</small>
      {% else %}
      <small>Features that have been applied to UA</small>
      {% endif %}
      <div>
        {% if not completed_features %}
        <p>No features to show.</p>
        {% else %}
        <!--Pagination-->
        <ul class="pagination d-flex justify-content-end">
          {% if completed_features.has_previous %}
          <li class="page-item">
            <a class='page-link' href="?page=1">&laquo; First</a>
          </li>
          <li class="page-item">
            <a class='page-link' href="?page={{ completed_features.previous_page_number }}">Previous</a>
          </li>
          {% endif %}
          <small class="mr-2 ml-2">
              Page {{ completed_features.number }} of {{ completed_features.paginator.num_pages }}
          </small>
          {% if completed_features.has_next %}
          <li class="page-item">
            <a class='page-link' href="?page={{ completed_features.next_page_number }}">Next</a>
          </li>
          <li class="page-item">
            <a class='page-link' href="?page={{ completed_features.paginator.num_pages }}">Last &raquo;</a>
          </li>
          {% endif %}
        </ul>
        <!--End Pagination-->

          <table class="table table-hover table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                {% if user.is_staff %}
                <th scope="col">Customer</th>
                {% endif %}
                <th scope="col">Title</th>
                <th scope="col">Last Comment</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              {% for cf in completed_features %}
                <tr>
                  <th scope="row">{{ cf.id }}</th>
                  {% if user.is_staff %}
                  <td>{{ cf.customer.first_name }} {{ cf.customer.last_name }}</td>
                  {% endif %}
                  <td><small>{{ cf.title }}</small></td> 
                  <td>{{ cf.get_last_comment }}</td>
                  <td><a href="{{ cf.get_absolute_url }}" class="btn btn-primary">Open</a></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% endif %}

        <!--Pagination-->
        <ul class="pagination d-flex justify-content-end">
            {% if completed_features.has_previous %}
            <li class="page-item">
              <a class='page-link' href="?page=1">&laquo; First</a>
            </li>
            <li class="page-item">
              <a class='page-link' href="?page={{ completed_features.previous_page_number }}">Previous</a>
            </li>
            {% endif %}
            <small class="mr-2 ml-2">
                Page {{ completed_features.number }} of {{ completed_features.paginator.num_pages }}
            </small>
            {% if completed_features.has_next %}
            <li class="page-item">
              <a class='page-link' href="?page={{ completed_features.next_page_number }}">Next</a>
            </li>
            <li class="page-item">
              <a class='page-link' href="?page={{ completed_features.paginator.num_pages }}">Last &raquo;</a>
            </li>
            {% endif %}
          </ul>
        <!--End Pagination-->
      </div>
    </div>
  </div>
  <!--End Tab Content-->


<!-- Modal -->
<div class="modal fade" id="profileImgModal" tabindex="-1" role="dialog" aria-labelledby="profileImgModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      	<div class="modal-header">
        	<h5 class="modal-title" id="profileImgModalLabel">Select a File</h5>
        	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          		<span aria-hidden="true">&times;</span>
        	</button>
      	</div>
      	<form method="POST" enctype="multipart/form-data">
	      	<div class="modal-body">
	      		{% csrf_token %}
	        	{{ img_upload_form|crispy }}
	      	</div>
	      	<div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
		        <button type="submit" class="btn btn-primary">Upload</button>
	      	</div>
  		</form>
    </div>
  </div>
</div>

{% endblock %}