{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="row mt-4">
  <div class="col-12 col-lg-4 offset-lg-1 col-xl-3 offset-xl-1 mb-4">
    <div class="grey-card profile-pic-container">
      {% if profile.user == request.user %}
      <div class="d-flex justify-content-end">
        <small class="mb-1"><a data-toggle="modal" data-target="#profileImgModal"><i class="fas fa-camera"></i></a></small>
      </div>
      {% endif %}
      <div class="d-flex justify-content-center">
        <img class="rounded-circle profile-pic-large img-responsive" src="{{ profile.image.url }}"/>
      </div>
      <div class="d-flex justify-content-center">
        <h6>{{ profile.user.first_name|capfirst }} {{ profile.user.last_name|capfirst }}</h6>
      </div>
      <div class="d-flex justify-content-center">
        {% if profile.user.is_staff %}
          <small>UnicornAttractor Developer!</small>
        {% else %}
          <small>UnicornAttractor User!</small>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-4 offset-lg-1 col-xl-3 offset-xl-2 mb-4">
    <div class="grey-card stats">
      {% if profile.user.is_staff %}
        <div class="d-flex justify-content-center">
          <u>Time spent working</u>
        </div>
        <div class="d-flex justify-content-center mt-2">
          <strong><i class="far fa-clock"></i> Total</strong>
        </div>
        <div class="d-flex justify-content-center"> 
          {{ total_days }} days {{ total_hours }} hours {{ total_mins }} mins
        </div>
        <div class="d-flex justify-content-center mt-2"> 
          <strong><i class="far fa-clock"></i> Bugs</strong>
        </div>
        <div class="d-flex justify-content-center">{{ bug_days }} days {{ bug_hours }} hours {{ bug_mins }} mins
        </div>
        <div class="d-flex justify-content-center mt-2"> 
          <strong><i class="far fa-clock"></i> Features</strong> 
        </div>
        <div class="d-flex justify-content-center">
          {{ feature_days }} days {{ feature_hours }} hours {{ feature_mins }} mins
        </div>
        {% else %}
        <div class="d-flex justify-content-center mt-2"> 
        <strong>Total contributions:</strong> 
        </div>
        <div class="d-flex justify-content-center">
          <h3>£{{ profile.total_contributed }}</h3>
        </div>
        <div class="d-flex justify-content-center mt-2">
          Amount Contributed Ranking: 
        </div>
        <div class="d-flex justify-content-center">
          <h3>#{{ total_position }}</h3>
        </div>
        <div class="d-flex justify-content-center mt-2">
          Number of Contributions Ranking: 
        </div>
        <div class="d-flex justify-content-center">
          <h3>#{{ times_position }}</h3>
        </div>
        {% if total_position == 1 or times_position == 1%}
        <div class="d-flex justify-content-center mt-4">
            <h3><i class="fas fa-trophy"></i></h3>
        </div>
        {% endif %}
      {% endif %}
        <div class="d-flex justify-content-center mt-4">
          <u>Contact</u>
        </div>
        <div class="d-flex justify-content-center mt-2">
          <strong><i class="far fa-envelope"></i> Email</strong>
        </div>
        <div class="d-flex justify-content-center">
          <a href="mailto:{{ profile.user.email }}">{{ profile.user.email }}</a>
        </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 col-lg-9 offset-lg-1 col-xl-8 offset-xl-1">
    <div class="grey-card">
      <div class="d-flex justify-content-start">
        <h6>About Me</h6>{% if profile.user == request.user %}<small class="ml-2"><a data-toggle="modal" data-target="#profileAboutModal">(Edit)</a></small>{% endif %}
      </div>
      <div class="d-flex justify-content-start">
        <p>{{ profile.about }}</p>
      </div>
    </div>
  </div>
</div>



<!-- Modals -->
<div class="modal fade" id="profileImgModal" tabindex="-1" role="dialog" aria-labelledby="profileImgModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="profileImgModalLabel">Select a File</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form method="POST" enctype="multipart/form-data">
          <div class="modal-body">
            {% csrf_token %}
            {{ img_upload_form|crispy }}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary" name='img'>Upload</button>
          </div>
        </form>
    </div>
  </div>
</div>


<div class="modal fade" id="profileAboutModal" tabindex="-1" role="dialog" aria-labelledby="profileAboutModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="profileAboutModalLabel">About Me</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form method="POST">
          <div class="modal-body">
            {% csrf_token %}
            {{ about_form|crispy }}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary" name='about-me'>Save</button>
          </div>
        </form>
    </div>
  </div>
</div>
{% endblock %}
